<div id="footer">
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!doctype html>

	<body>
		<ul id="messages"></ul>
		<input id="m" type="text" placeholder="Chat or write commands here i.e /join room">
		<button id="sendButton">Tekst på knappen</button>
	</body>

</div>
