<%- include('template_header'); -%>

<body>
	<button id="btn_draw">Draw Card</button>
	<button id="btn_stand">Stand</button>
	<button id="btn_status">Status</button>
	<p> Check the console log </p>
</body>
