<script src="/javascripts/game_functions.js"></script>
<script src="/javascripts/AI.js"></script>
<script src="/javascripts/game.js"></script>
<link href="/stylesheets/game.css" rel="stylesheet">
<div id="game_div" hidden>
	<button id="btn_draw">Draw Card</button>
	<button id="btn_stand">Stand</button>
	<button id="btn_status">Status</button>
	<p> Check the console log </p>
</div>
