<%- include('template_header'); -%>
<script src="/javascripts/lobby.js"></script>
<link href="/stylesheets/lobby.css" rel="stylesheet">
<header id="lobby">
	<h3> Welcome to the lobby, <%= user.name %> </h3>
	<p> Some rules about the game lorem ipsum...</p>
	<p> Use the bottom chat to write navigation commands </p>
	<p> type <b>/help </b> to get a list of commands </p>
</header>


<body>
	<%- include('game'); -%>
</body>

<%- include('chat'); -%>
