<%- include('template_header'); -%>

<header>
	<h3> Welcome to lobby <%= user.name %> </h3>
	<p> Some rules about the game lorem ipsum...</p>
	<p> Use the bottom chat to write navigation commands </p>
</header>


<body>
	<%- include('game'); -%>
</body>

<%- include('chat'); -%>
