<%- include('template_header'); -%>
<script src="/javascripts/login.js"></script>

<body>
	<div id="container">
		<h1> Welcome to untitled game</h1>
		<h3> Please login</h3>
		<form id="login_form" action="/users/login" method="POST">
			<div class="login_div">

				<label for="uname"><b>Username</b></label>
				<input id="uname" type="text" placeholder="Enter Username" name="uname" required>

				<label for="psw"><b>Password</b></label>
				<input id="psw" type="password" placeholder="Enter Password" name="psw" required>

				<button type="submit">Login</button>
			</div>
		</form>

		<h3>.. Or create a new account</h3>
		<button id="btn_register">Register</button>
	</div>
	</br>
	<h3> Alternatively, you can look at our moodboard of the game we had in mind</h3>
	<form method="get" action="mock_up">
		<input type="submit" value="watch">
	</form>
</body>
