body {
	font: 13px Helvetica, Arial;
	background-position: right 10px top 10px;
	background-size: 700px 470px;
	background-image: url("v_a_p_o_r_w_a_v_e___aesthetic_mountains_by_rayed_the_pleb_dbf0bz7-fullview.png");
	background-repeat: no-repeat;
	background-color: #cccccc;
	
}

#footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	border: 1px solid black;
	left: -1px;
}

#m {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: 0.5%;
}

#sendButton {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: '#229999';

	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	/*
	display: table-cell;
	width: 100%;
	vertical-align: bottom;
*/
	height: 25vh;
	overflow-y: auto;
}

#messages li {
	padding: 5px 10px;

}

#messages li:nth-child(odd) {
	background: #eee;
}
